.container {
    display: flex;
    gap: 10px;
    background-color: blueviolet;

}

.box {
    border: 2px solid red;
    height: 100px;
    width: 100px;
    background-color: bisque;
    padding: 10px;
    margin: 20px;
}