.container {
    background-color: aqua;
    border: 2px solid red;
    padding: 20px;
    /* height: 550px; */
    display: flex;
    /* justify-content: right; */
    /* justify-content: center; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    /* gap: 100px; */
    /* align-items: start; */
    /* align-items: center; */
    /* align-items: end; */
    /* gap: 20px; */
    /* flex-direction: column-reverse; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
}

.box {
    border: 1px solid black;
    background-color: bisque;
    padding: 10px;
    width: 50px;
    height: 50px;
        /* gap: 20px; */

}
.menu {
    display: flex;
    /* justify-content: space-between; */
    justify-content: right;
    gap: 20px;
    text-decoration: none;
}

@media screen and (max-width: 600px){
    .container {
        flex-direction: column;
        width: 100%;
        background-color: red;
    }
    .box{
        width: 100%;
    }
}