body {
    background-color: gold;
    border: 2px solid black;
    padding-left: 20px;
    /* padding-right: 20px; */
    padding-right: 20px;
    /* padding-top: 20px; */
    /* padding-bottom: 40px; */

}

/* * {
    background-color:gold;
    border: 1px solid red;
} */
h1 {
    color: blue;
    text-align: center;
}

p {
    color: blue;
}

ol {
    font-size: 20px;
    background-color: beige;
}

.jaforText {
    color: maroon;
    font-size: 25px;
}

#cssText {
    color: chartreuse;
    font-size: 30px;
}

#rmText {
    color: darkgreen;
    /* font-weight: 900; */
    font-size: 50px;
}

.mobinText {
    color: red;
}

.bro {
    color: blueviolet;
}

.dibba {
    display: inline;
    /* background-color: beige; */
    /* font-size: 50px; */
}

.box {
    background-color: aquamarine;
    color: white;
    border: 2px solid blue;
    font-size: 20px;
    text-align: center;

    /* padding: 20px; T R B L */
    /* padding: 20px 10px 5px 30px; */
    padding: 20px 50px;
    /* margin-top: 200px; */
    /* margin-bottom: 100px; */
    /* margin-left: 300px; */
    /* margin: 20px 50px 20px 50px; */
    /* margin: 20px 50px; */
    /* width: 100px; */
    /* height: 200px; */

}

.container {
    border: 1px solid red;
    background-color: lightblue;
    width: 800px;
    height: 800px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    align-items: end;



}

.newbox {
    border: 1px solid black;
    background-color: orange;
    padding: 20px;
    margin: 10px;
    width: 80px;
    height: 80px;
}